.mainLandingPage{
    background-color: #03040D;
}
.hero {
    width: 100%;
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
    background-position: 100% 0;
    background-size:70%;
    margin-top: -200px!important;
    padding: 300px 0px 20px 0px;
  }
  .btn-nav{
    color: #fff;
    font-size: 13px;
  }
  .txt-nav{
    font-size: 13px;
  }
  .txt-nav:hover{
    font-size: 13px;
    text-decoration: none;
  }
  .btn-nav:hover{
    color: #595FFB;
    text-decoration: none;
  }
  .hero h1 {
    margin: 0;
    font-size: 53px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .hero h2 {
    background:  -webkit-linear-gradient(111.94deg,#1ECBE3 17.65%, #595FFB 51.08%,  #AF47F8 92.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 15px 0 0 0;
    font-weight: 300;
    font-size: 20px;
  }
  .hero p{
    padding-top: 14px;
    color: #a1a1a1;
    line-height: 28px;
  }
  .hero .hero-img {
    text-align: right;
    position: relative;
  }
  .main-heading{
      font-size: 53px;
      line-height: 54px;
      font-weight: 300;
  }
  .trader-heading{
    padding-top: 50px;
  }
  .text-gradiant{
    background:  -webkit-linear-gradient(111.94deg,#1ECBE3 17.65%, #595FFB 51.08%,  #AF47F8 92.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .trader-section{
    position: relative;
    width: 100%;
    background: url(../img/trader-bg.png) top right no-repeat;
    background-size: cover;
    background-position: 100% 0;
    background-size:50%;
    margin: 100px 0px;
    padding: 10px 15px;
  }
  .trader-box{
    background-color: #7470D91F;
    border-radius: 40px;
    padding: 50px 20px;
    margin-bottom: 50px;
  }
  .trader-hd{
    font-size: 43px;
    font-weight: 600;
    line-height: 60px;
    padding-top: 16px;
  }
  .trader-box p{
    color: #a1a1a1;
    line-height: 28px;
   }
  .trading-num{
    font-size: 43px;
    color: #414151;
    font-weight: 300;
  }
  .d-break{
    display: none;
  }
  .footer{
    background: linear-gradient(100.89deg, #AF47F8 1.78%, #595FFB 43.31%, #1ECBE3 95.1%);
    padding: 100px 15px 20px 15px;
  }
  .footer p{
    color: #fff;
    line-height: 28px;
  }
  .footer a{
    color: #fff;
    text-decoration: none;
  }
  .footer-bottom{
    padding-top: 50px;
  }

  .btn-transparent{
    background-color: transparent;
  text-align: left;
  padding: 0;
  border: none;
  }
  .btn-transparent:hover{
   border: none;
   padding: 0;
  }